.homepage-wrapper {
  border: 1px solid;
  padding: 1rem 4rem;
}

.homepage-topbar {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar-left {
  display: flex;
  align-items: center;
}

.logo-and-title-container {
  display: flex;
  margin-right: 1rem;
}

.logo {
  margin-right: 0.7rem;
  padding-top: 4px;
  padding-left: 4px;
}

.title {
  padding: 0 10px;
  margin-right: 8px;
}

.title-text {
  font-weight: 800;
  size: 14px;
  line-height: 19.07px;
}

.title-website {
  font-weight: 500;
  size: 9px;
  line-height: 12.26px;
}
.search-wrapper {
  border: 1px solid gray;
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 3px;
}

.search-icon {
  size: 15px;
  padding-left: 10px;
  padding-right: 5px;
}

.search-text {
  font-size: 14px;
  padding: 10px 21px;
  border: none;
  outline: none;
}
