* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  position: relative;
}

.app-height {
  height: 100vh;
  overflow-y: hidden;
}
