.image-item-wrapper {
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.15);
  border-collapse: separate;
  margin-bottom: 1.5rem;
  background-color: none;
  border-radius: 16px;
}

.image-item_button-item {
  display: none;
}

.image-item-wrapper:hover > .image-item_button-item {
  position: absolute;
  right: 0.8rem;
  top: 1rem;
  display: block;
  border: 1px solid #eb5757;
  border-radius: 12px;
}

.image-item_button {
  padding: 0.3rem 1.3rem;
  border: none;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.38);
  color: #eb5757;
  cursor: pointer;
}

.image-item_bottom {
  display: none;
}

.image-item-wrapper:hover > .image-item_bottom {
}

.image-item-wrapper:hover > .image-item_bottom {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  line-height: 22px;
  font-weight: 700px;
  font-size: 18px;
  color: #ffffff;
  width: 90%;
}

/* .image-item-wrapper:hover > .image-item_download {
  margin-left: 3rem;
} */
